body
{
	font-size: 17px;
}
.navbar-brand h1 { /* Restaurant name */
  
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
	background: #f0efef;
  color: #557c3e;
  text-align: center;
  font-size: 1.1em;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #557c3e;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

#main-content #home-tiles p
{
	padding: 30px;
}
 h3
{
	padding: 20px;
}
#main-content #home-tiles div
{
	margin-bottom: 30px;
	margin-top: 30px;
	
}
#Chicken, #Beef,#Sushi
{
	margin: auto;
	width: 90%;
    margin-left: 5%;
    margin-right: 5%;
	background: #679f49;
}